---
const { stats, title, description } = Astro.props;
---

<section class="bg-slate-900 px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
  <div class="mx-auto max-w-screen-xl">
    <div class="mx-auto max-w-3xl text-center">
      <h2 class="text-3xl font-bold text-gray-900 sm:text-4xl dark:text-white">
        {title}
      </h2>

      <p class="mt-4 text-gray-500 sm:text-xl dark:text-gray-400">
        {description}
      </p>
    </div>

    <ul
      class="mt-6 grid grid-cols-1 gap-4 sm:mt-8 sm:grid-cols-2 lg:grid-cols-4"
    >
      {
        stats.map(({ stat, text }: { stat: string; text: string }) => (
          <li class="flex flex-col rounded-lg border border-gray-100 px-4 py-8 text-center dark:border-gray-800">
            <dt class="order-last text-lg font-medium text-gray-500 dark:text-gray-400">
              {text}
            </dt>

            <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl">
              {stat}
            </dd>
          </li>
        ))
      }
    </ul>
  </div>
</section>
